.card {
  width: 250px;
  margin: 15px 15px 15px 15px;
}

.cst-favorits-box {
    width: 246px;
    height: 298px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    background-color: whitesmoke;
  }

  .favorits {
    position: absolute;
    width: 100%;
    height: 150px;
   
  }

  .body-cart {
    background-color: whitesmoke;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

  }
  .cst-color {
    z-index: 1;
   }
   
   .cst-pattern {
     z-index: 2;
   }
   
   .cst-image {
     z-index: 3;
   }

   .cst-generator-box {
    width: 800px;
    height: 800px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background-color: rgb(59, 59, 59);
  }
  
  .cst-sock {
    
    width: 148px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 95%;
    max-width: 95%;
    transform: translate(-50%, -50%);
  }

  .buy {
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .cst-delete-btn {
    margin-left: 200px;
    padding: 0px;
  }
