/* .cst-favorites-length {
  position: absolute;
  top: 5px;
  left: 77%;
  width: 25px;
  height: 25px;
  border: 1px solid red;
  border-radius: 50%;
  line-height: 22px; 
  text-align: center;
  background: red;
  color: white;
  font-size: 15px;
  } */
