.body{
  background-color: white;
  width: 100%;
}

.cst-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cst-header {
  flex: 0 0 100px;
}


.cst-main {
  flex: 1 0 auto;
}

.cst-footer {
  flex: 0 0 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.cst-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 20px 30px 20px;
}

.cst-home-element {
    margin: 30px 20px 30px 20px;
}

.navbar-nav {
  font-size: 12px;
}

.cst-btn {
  margin: 5px 5px 5px 5px;
}

.card {
  width: 180px;
  margin: 15px 15px 15px 15px;
  border-radius: 20px;
}

.card-img-top {
  margin: 10px 10px 10px 10px;
  width: 250px;
  height: 250px;
}

footer {
  margin: 10px 10px 10px 10px;
}

